.chessboard__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 100%;
    
}

.chessboard__row {
    display: flex;

}

.chessboard__chessCell {
    width: 75px;
    height: 75px;
}

.chessboard__chessCell_light {
    background-color: #eeeed2;
    color: black;
}

.chessboard__chessCell_dark {
    background-color: #769656;
    color: black;
}

.chessboard__chessPiece {
    font-size:xx-large;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* Make the tag priority higher than its parent tag */
    position: relative;
    z-index: 1;
}

.chessboard__chessPiece:hover {
    background-color: #f7f769;
}

.chessboard__chessPiece_empty {
    color: transparent;
    
}


