@tailwind components;
@tailwind base;
@tailwind utilities;
@tailwind variants;

::placeholder{
    color: white;
}

body {
    background-color: #cdcdcd;
    color: white;
    margin: 0;
    padding: 0;
}

html, body, #app, #app>div {
    height: 100%;
    text-decoration-color: white;
}