@tailwind components;
@tailwind base;
@tailwind utilities;
@tailwind variants;

::placeholder{
    color: white;
}

body {
    background-color: #5928ed;
    text-decoration-color: white;
}

html, body, #app, #app>div {
    height: 100%;
    overflow: hidden;
}