.sideboard__userListMain {
    /* width: 90%; */
}

.sideboard__userListTitle {
    text-align: center;
}

.sideboard__userListTitle_theme {
    font-size: x-large;
    background-color: #040404;
}

.sideboard__userList {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    overflow-y: auto;
}

.sideboard__userField {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sideboard__userList_theme {
    border: solid 1px black;
    background-color: white;
    color: black;
}