.sideboard__main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    /* background-color: cornflowerblue; */
    width: 40%;
    height: 100%;
    margin: auto;
    align-items: center;
}

.sideboard__button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.sideboard__button_elevated {
    font-weight: bold;
    background-color: #eeeed2;
    border-radius:10px;
}

.sideboard__button_elevated:hover {
    background-color: #eeeed2bd;
}

.sideboard__button_elevated:active {
}