.database-button, .database-button:link, .database-button:visited {
    padding: 13px 0;
    border: 1px solid #333;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 90%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    
    &:hover {
      background: #333;
      border: 1px solid #333;
      color: #fefefe;
      border-radius: 30px;
    }
  }

  .join-button, .join-button:link, .join-button:visited {
    padding: 13px 0;
    border: 1px solid #333;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    
    &:hover {
      background: #333;
      border: 1px solid #333;
      color: #fefefe;
      border-radius: 30px;
    }
  }

  .join-1 {
    position: absolute;
    top: 22%;
    left: 33%;
  }

  .join-2 {
    position: absolute;
    top: 22%;
    left: 55%;
  }

  .title {
    font-size: 100px;
    text-align: center;
    color: #333;
  }