.roomAssign__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size:xx-large;
    background-color: #5928ed;
}

.roomAssign__title {
    background-color:#769656;
    ;
    color: white;
    width: 50%;
    text-align: center;   
    font-size: xxx-large;
    padding: 10px;
}

.roomAssign__form {
    width: 50%;
    padding: 10px;
    background-color: #769656;
    color: white;
}

.roomAssign__row {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    
}

.roomAssign__column {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;
}

.roomAssign__input {
    font-size: xx-large;
}

.roomAssign__select {
    font-size: xx-large;
}

.roomAssign__button {
    font-size: xx-large;

}