.roomAssign__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size:xx-large;
    background-color: #0000009c;
}

.roomAssign__main {
    /* source: https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roomAssign__title {
    background-color:#000000;
    color: white;
    width: 41rem;
    text-align: center;   
    font-size: xxx-large;
    padding: 10px;
}

.roomAssign__form {
    width: 41rem;
    padding: 10px;
    background-color: #000000;
    color: white;
}

.roomAssign__row {
    display: grid;
    grid-template-rows: repeat(4, 25%);
}

.roomAssign__column {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;
}

.roomAssign__input {
    font-size: xx-large;
    margin-bottom: 10px;
}

.roomAssign__select {
    font-size: xx-large;
}

.roomAssign__button {
    font-size: xx-large;

}