#PrevMoveListPanel {
    height: 15rem;
    line-height: 15;
    margin: 1px 1px 1px 1px;
    border:  solid black;
    overflow-y: scroll;
    background-color: black;
    color: white;
    font-size: larger;
}

#moveChild {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 1rem;
    display: grid;
    grid-template-columns: 10% 45% 45%
}

#moveChild >* {
    height: 1rem;
    line-height: 1;
}
