.PrevMoveListWhole {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
   border-radius: 0.3rem;
    height: fit-content;
    background-color: rgba(12, 12, 54, 0.63);
    padding: 2rem;
}

.ButtonPanel {
   margin: 1rem 1rem 1rem 0rem;
}


.ButtonPanel >* {
    margin: 0.20rem 0.20rem;
    background-color: transparent;
    color: white;
    font-size: medium;
    padding: 1rem;
}