.custom-button, .custom-button:link, .custom-button:visited {
    padding: 13px 0;
    border: 1px solid #333;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    
    &:hover {
      background: #333;
      border: 1px solid #333;
      color: #fefefe;
      border-radius: 30px;
    }
  }